
@theme {
  --spacing: 4px;

  --font-nunito: var(--font-nunito);
  --font-roboto: var(--font-roboto);
  --font-caveat: var(--font-caveat-brush);

  --color-hot: oklch(80.157% 0.17044 73.264);
  --color-danger: oklab(65.114% 0.20965 0.10566);
  --color-yellow: #ffd500;
}


@layer base {
  button { @apply rounded-lg; }
  .btn-hot {
    --btn-color: var(--color-hot);
  }
  .btn-yellow {
    --btn-color: var(--color-yellow);
  }
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";
  prefersdark: false;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-base-content: oklch(20% 0 0);
}
:root {
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

:root {
  --color-primary: oklch(56.172% 0.17946 141.939);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(93.045% 0.05092 218.355);
  --color-secondary-content: oklch(69.588% 0.17234 244.212);
  --color-accent: oklch(20% 0 0);
  --color-accent-content: oklch(95% 0 0);
  --color-neutral: oklch(57% 0.245 27.325);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(59.272% 0.22351 258.47);
  --color-info-content: oklch(92.757% 0.01504 251.306);
  --color-success: oklch(67.583% 0.19252 138.477);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(74.949% 0.16889 51.766);
  --color-warning-content: oklch(42.806% 0.11475 45.738);
  --color-error: oklab(65.114% 0.20965 0.10566);
  --color-error-content: oklch(34.687% 0.10355 23.544);
}