
@theme {
  --spacing: 4px;

  --font-nunito: var(--font-nunito);
  --font-roboto: var(--font-roboto);
  --font-caveat: var(--font-caveat-brush);

  --color-hot: oklch(80.157% 0.17044 73.264);
  --color-danger: oklab(65.114% 0.20965 0.10566);
  --color-yellow: #ffd500;
}


@layer base {
  button { @apply rounded-lg; }
  .btn-hot {
    --btn-color: var(--color-hot);
  }
  .btn-yellow {
    --btn-color: var(--color-yellow);
  }
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";
  prefersdark: false;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-base-content: oklch(20% 0 0);
}
:root {
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
